*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inputForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
}

.formCont{
    
    margin-top: -490px;
    
}